#pagepanier{
    margin-top:15vh ;
    /* margin-left:40vw ; */
    border: 2px solid black;
    
    
}
.ligne{
    display: grid;
    grid-template-columns: 15vw 5vw;
    margin-left: 40vw;
    width: auto;
    padding: 0;
}
.ligne>div:first-child{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vw;
    
}
.ligne>img{
    grid-column: 2;
    width: 3vh;
    height: 3vh;
    
    
}
#prix{
    margin-left: 40vw;
}
#send{
    text-decoration: none;
    color: black;
    position: relative;
    left: 65vw;
    bottom: 1vw;
    background-color: #506F8B;
    padding: 0.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    color:#F7E7D4 ;
    border-radius: 15px ;
    border: 2px solid black;
}
#send:hover{
    background-color: #849FB8;
}
#send:active{
    background-color: #2D3E4E;
}


@media screen and (max-width: 950px)
{
    .ligne {
        display: grid;
        grid-template-columns: 50vw 50vw;
        margin-left: 0;
        width: auto;
        padding: 0;
    }
    #prix{
        margin-bottom: 15vw;
    }
    #send{
        left: 35vw;
    }
}

