
#projets{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    top: 10vh;
    justify-content: space-between;  

}
#projets>section{
    display: grid;
    grid-template-columns: 30vw 1fr;
    width: 100%;
    border-bottom: solid 1px black;
    padding-bottom: 2%;
    margin-bottom: 2%;
    
}
#projets>section>div{
    grid-column: 2;


}
#projets>section>div>:nth-child(1){
    font-size: 3.5vw;
    text-align: center;
}
#projets>section>div>:nth-child(2),#projets>section>div>:nth-child(3){
    font-size: 2vw;
    text-align: center;
}
#projets>section>div>:nth-child(3){
    background-color: #849FB8;
    text-decoration: none;
    color: black;
    position: relative;
    top: 50%;
    left: 39%;
    transform: translate(-50%, -39%);
    padding-right: 10vh ;
    padding-left: 10vh ;
    border: solid 1px black;
    border-radius: 15px;
}
#projets>section>div>:nth-child(3):hover{
    background-color: #C1CFDC;
    
}
#projets>section>div>:nth-child(3):active{
    background-color: #C1CFDC;
    box-shadow: inset 5px 5px 15px 5px;
}



#projets>section>img{
    grid-column: 1;
    width: 30vw;
    height: 15vw;
    padding-left: 2vw;
}

@media screen and (max-width: 950px)
{
    #projets>section{
        grid-template-columns: 50vw 1fr;  
    }
    #projets>section>img{
        
        width: 50vw;
        height: 25vw;
    }
    #projets>section>div>:nth-child(3){
        
        padding-right: 5vw ;
        padding-left: 5vw ;

    }

}